# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# CPython / Pytest caches
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Large datasets exceeding GitHub 100MB file limit
PreProcessing/data/processed/
Resource/dataset/test/
Resource/dataset/train/

# Local Environment files
/.env
Classification/.env

# OS artifacts
.DS_Store
Thumbs.db
